<div class="background-wrapper" (mousemove)="dragImage($event)" (touchmove)="dragImage($event)" (mouseup)="dragImageEnd($event)"
  (touchend)="dragImageEnd($event)">


  <div class="game-wrapper">

    <div class="content-placeholder blue-background">
      <div class="text-center">
        <p>Days as director: {{pointsService.turnsPassed}}</p>
      </div>

      <div class="row text-center">
        <div class="col">
          <p>{{pointsService.points[0]}}</p>
          <p>currency</p>
        </div>
        <div class="col">
          <p>{{pointsService.points[1]}}</p>
          <p>personel</p>
        </div>
        <div class="col">
          <p>{{pointsService.points[2]}}</p>
          <p>order</p>
        </div>
        <div class="col">
          <p>{{pointsService.points[3]}}</p>
          <p>children ☺</p>
        </div>
      </div>
    </div>

    <div *ngIf="currentCard">
      <div class="content-placeholder">
        <div class="question-placeholder">
          {{currentCard.question}}
        </div>
      </div>

      <!--<div class="row text-center">
        <div class="col">
          <button (click)="clickLeft()" class="btn btn-primary">{{currentCard.leftText}}</button>
        </div>
        <div class="col">
          <button (click)="clickRight()" class="btn btn-primary">{{currentCard.rightText}}</button>
        </div>
      </div>-->

      <div class="content-placeholder">
        <div [ngStyle]="{ 'left': cardXCoordinate + 'px', 'transform': 'rotate(' + cardRotation + 'deg)', 'top': cardYCoordinate + 'px' }"
          class="card" (mousedown)="dragImageStart()" (touchstart)="dragImageStart()">
          <div *ngif="isImageDraggedToLeft != null && !isImageDraggedToLeft" class="answer">
            {{currentCard.rightText}}
          </div>
          <div *ngif="isImageDraggedToLeft != null && isImageDraggedToLeft" class="answer">
            {{currentCard.leftText}}
          </div>
          <img src="/src/assets/Kid.png" draggable="false">
          <!--Image-->
        </div>
      </div>
      <div class="text-center">
        <p>
          Swipe
        </p>
      </div>
    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="endGameModal" tabindex="-1" role="dialog" aria-labelledby="endGameModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="endGameModalTitle">Game state</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <div class="modal-body">
        finish text
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="startNewGame()" data-dismiss="modal">Play again</button>
      </div>
    </div>
  </div>
</div>