<div class="background-wrapper">

  <div class="game-wrapper">

    <div class="content-placeholder blue-background">
      <div class="text-center">
        <p>Days as director: 0</p>
      </div>

      <div class="row text-center">
        <div class="col">
          <p>0</p>
          <p>currency</p>
        </div>
        <div class="col">
          <p>0</p>
          <p>personel</p>
        </div>
        <div class="col">
          <p>0</p>
          <p>order</p>
        </div>
        <div class="col">
          <p>0</p>
          <p>children ☺</p>
        </div>
      </div>
    </div>

    <div *ngIf="currentCard">
      <div class="content-placeholder">
        <div class="question-placeholder">
          {{currentCard.question}}
        </div>
      </div>

      <div class="content-placeholder">
        <div class="card">
          <!--Image-->
        </div>
      </div>
      <div class="text-center">
        <p>
          Swipe
        </p>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary">{{currentCard.leftText}}</button>
          </div>
          <div class="col">
            <button class="btn btn-primary">{{currentCard.rightText}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
