body {
  margin: 0;
  padding: 0;
}

.background-wrapper {
  background-color: #468fc1;
  /*padding: 50px 0px;*/
  background: url('/src/assets/main-background.jpg');
}

.game-wrapper {
  background-color: rgba(93, 93, 93, 0.34);
  min-height: 800px;
  max-width: 500px;
  margin: auto;
  border: 3px solid rgba(93, 93, 93, 0.34);
  overflow-x: hidden;
}

.content-placeholder {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.card {
  border-radius: 3px;
  background-color: transparent;
}

.question-placeholder {
  padding: 10px;
  /*background-color: black;*/
  color: black;
  font-weight: 600;
  font-size: 18px;
  min-height: 100px;
}

.blue-background {
  background-color: #3a57d8;
  color: white;
}

.card {
  position: relative;
  border: none;
    width: 80%;
    margin: auto;
}

.card img {
  width: 100%;
    /*height: 450px;*/
}

.answer {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  width: 100%;
}

.progress-bar {
    background-color: rgb(193, 193, 193)
}
}


/*Overrides*/

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
